<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/css/style.css">
        <title>{{ title }}</title>
    </head>
    <body>
        <h1>Миссия Колонизация Марса</h1>
        <h4>И на Марсе будут яблони цвести!</h4>
        <p>Фамилия: {{ surname }}<br>
            Имя: {{ name }}<br>
            Образование: {{ education }}<br>
            Профессия: {{ profession }}<br>
            Пол: {{ sex }}<br>
            Мотивация: {{ motivation }}<br>
            Готовы остаться на Марсе? {{ ready }}
        </p>
    </body>
</html>